<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MVC with Vanilla.JS</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <header>
      <h2 class="container">검색</h2>
    </header>

    <div class="container">
      <!-- FormComponent 안의 value(query라는 값은 여러 컴포넌트에서 사용하기 때문에 폼의 query를 app으로 넘겨주기 위해) -->
      <search-form v-bind:value="query" v-on:@submit="onSubmit" v-on:@reset="onReset"></search-form>
      
<div class="content">
      <!-- submit 됐을 때만 출력되도록 검색결과 영역 전체를 감싸줌 -->
      <div v-if="submitted">
        <search-result v-bind:data="searchResult" v-bind:query="query"></search-result>
      </div>
      <div v-else>
        <ul class="tabs">
          <!-- {클래스명: 조건} 조건이 맞으면 클래스명 출력 -->
          <li v-for="tab in tabs" v-bind:class="{active: tab === selectedTab}"
              v-on:click="onClickTab(tab)">
            {{tab}}
          </li>
        </ul>
        <div v-if="selectedTab === tabs[0]">
          <list v-bind:data="keywords" type="keywords" v-on:@click="onClickKeyword"></list>
        </div>

        <div v-else>
          <list v-bind:data="history" type="history" v-on:@click="onClickKeyword" v-on:@remove="onClickRemoveHistory"></list>
        </div>

      </div>
</div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="module" src="./js/app.js"></script>
</body>
</html>

<!-- FormComponent.js와 연결됨 -->
<template id="search-form">
  <!-- v-on : submit 이벤트가 발생했을 때 동작하는 함수 바인딩 -->
      <!-- prevent : 화면이 다시 그려지는걸 막음 -->
      <form v-on:submit.prevent="onSubmit">
        <!-- v-model을 사용했기 때문에 뷰로 바인딩 되었음(양방향 바인딩을 지원) -->
        <input type="text" v-model="inputValue" v-on:keyup="onKeyup" placeholder="검색어를 입력하세요" autofocus>
        <!-- v-show : input의 query의 길이가 있으면 show 없으면 hide -->
        <button v-show="inputValue.length" v-on:click="onReset" type="reset" class="btn-reset"></button>
      </form>
</template>

<template id="search-result">
  <!-- v-if : 안의 조건이 참일 경우에만 이 DOM을 출력 -->
  <div v-if="data.length">
    <ul>
      <!-- v-for : 배열 반복을 위해 사용 -->
      <li v-for="item in data">
        <!-- v-bind : 어트리뷰트의 값을 바인딩 -->
        <img v-bind:src="item.image" alt="">
        <p>{{item.name}}</p>
      </li>
    </ul>
  </div>
  <div v-else>
    {{query}} 검색어로 찾을 수 없습니다.
  </div>
</template>

<template id="list">
  <div v-if="data.length">
    <ul class="list">
      <li v-for="(item, index) in data"
          v-on:click="onClickList(item.keyword)">
        <!-- v-if="type === 'keywords'"를 줄여서 사용(computed) : 코드의 중복과 가독성 개선 -->
        <span v-if="keywordType" class="number">{{index + 1}}</span>
        {{item.keyword}}
        <span v-if="historyType" class="date">{{item.date}}</span>
        <button v-if="historyType" class="btn-remove" v-on:click.stop="onRemoveList(item.keyword)"></button>
      </li>
    </ul>
  </div>
  <div v-else>
    <span v-if="keywordType">추천 검색어가 없습니다.</span>
    <span v-if="historyType">최근 검색어가 없습니다.</span>
  </div>
</template>