<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MVC with Vanilla.JS</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <header>
      <h2 class="container">검색</h2>
    </header>

    <div class="container">
      <!-- v-on : submit 이벤트가 발생했을 때 동작하는 함수 바인딩 -->
      <!-- prevent : 화면이 다시 그려지는걸 막음 -->
      <form v-on:submit.prevent="onSubmit">
        <!-- v-model을 사용했기 때문에 뷰로 바인딩 되었음(양방향 바인딩을 지원) -->
        <input type="text" v-model="query" v-on:keyup="onKeyup" placeholder="검색어를 입력하세요" autofocus>
        <!-- v-show : input의 query의 길이가 있으면 show 없으면 hide -->
        <button v-show="query.length" v-on:click="onReset" type="reset" class="btn-reset"></button>
      </form>
<div class="content">
      <!-- submit 됐을 때만 출력되도록 검색결과 영역 전체를 감싸줌 -->
      <div v-if="submitted">
        <!-- v-if : 안의 조건이 참일 경우에만 이 DOM을 출력 -->
        <div id="search-result" v-if="searchResult.length">
          <ul>
            <!-- v-for : 배열 반복을 위해 사용 -->
            <li v-for="item in searchResult">
              <!-- v-bind : 어트리뷰트의 값을 바인딩 -->
              <img v-bind:src="item.image" alt="">
              <p>{{item.name}}</p>
            </li>
          </ul>
        </div>
        <div v-else>
          {{query}} 검색어로 찾을 수 없습니다.
        </div>
      </div>
      <div v-else>
        <ul class="tabs">
          <!-- {클래스명: 조건} 조건이 맞으면 클래스명 출력 -->
          <li v-for="tab in tabs" v-bind:class="{active: tab === selectedTab}"
              v-on:click="onClickTab(tab)">
            {{tab}}
          </li>
        </ul>
        <div v-if="selectedTab === tabs[0]">
          <div v-if="keywords.length">
            <ul class="list">
              <li v-for="(item, index) in keywords"
                  v-on:click="onClickKeyword(item.keyword)">
                <span class="number">{{index + 1}}</span>
                {{item.keyword}}
              </li>
            </ul>
          </div>
          <div v-else>
            추천 검색어가 없습니다.
          </div>
        </div>
        <div v-else>
          <div v-if="history.length">
            <ul class="list">
              <li v-for="item in history"
                  v-on:click="onClickKeyword(item.keyword)">
                {{item.keyword}}
                <span class="date">{{item.date}}</span>
                <!-- .stop : 버블링 방지 -->
                <button class="btn-remove" v-on:click.stop="onClickRemoveHistory(item.keyword)"></button>
              </li>
            </ul>
          </div>
          <div v-else>
            최근 검색어가 없습니다.
          </div>
        </div>
      </div>
</div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="module" src="./js/app.js"></script>
</body>
</html>